
.exclusive_furniture {
    margin-top: 120px;
    .container {
        .header_section_main {
            display: flex;
            justify-content: space-between;
            align-items: end;
            h2 {
                flex-basis: 51%;
                font-family: "Helvetica";
                font-size: 72px;
                color: #212529;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 120%;
            }
            .order_project_block {
                flex-basis: 48%;
                display: flex;
                justify-content: right;
                .order_project {

                    font-family: "Roboto";
                    font-size: 18px;
                    color: #212529;
                    font-weight: 400;
                    background-color: transparent;
                    border: none;
                    text-align: end;
                    padding: 0;
                    width: 164px;
                    height: 23px;
                    text-transform: uppercase;
                    border-bottom: solid 1px #212529;

                    opacity: 1;
                    transition: all .8s;
                    transform: scale(1);

                    &:hover {
                        cursor: pointer;
                        opacity: .7;
                        transition: all .8s;
                        transform: scale(1.05);
                    }
                }
            }
        }
        .header_section_flex {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            .header_section_left {
                flex-basis: 50%;
                p {
                    font-family: "Roboto";
                    font-size: 20px;
                    color: #212529;
                    font-weight: 400;
                    line-height: 140%;
                }
                img {
                    display: inline-block;
                    margin-top: 232px;
                    transform: scale(1);
                    transition: .7s;

                    &:hover {
                        transition: .7s;
                        transform: scale(1.05);
                    }
                }
            }
            .header_section_right {
                flex-basis: 49%;
                img {
                    transform: scale(1);
                    transition: .7s;

                    &:hover {
                        transition: .7s;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}