
.reviews {
    margin-top: 120px;
    .container {
        h2 {
            font-family: "Helvetica";
            font-weight: 400;
            font-size: 48px;
            color: #212529;
        }
        .flex_container {
            display: flex;

            .card {
                flex-basis: 32%;
                height: 327px;
                border: solid 2px #212529;
                margin-top: 32px;
                transform: scale(1);
                transition: .7s;

                &:hover {
                    transition: .7s;
                    transform: scale(1.1);
                }

                img {
                    display: block;
                    margin: 0 auto;
                    margin-top: 40px;
                }
                h3 {
                    margin-top: 32px;
                    font-family: "Helvetica";
                    font-weight: 600;
                    font-size: 18px;
                    color: #212529;
                    text-align: center;
                }
                p {
                    margin-top: 20px;
                    font-family: "Roboto";
                    font-weight: 400;
                    font-size: 16px;
                    color: #212529;
                    text-align: center;
                }
            }
        }
    }
}