body {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

*, *::after, *::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1376px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

// Modal trigger

.show {
    display: block;
}
.hide {
    display: none;
}
