
@media (max-width: 768px) {
    //Header
    .header {
        .container {
            .flex_container {

                .nav_header{
                    position: absolute;
                    display: block;
                    width: 400px;
                    top: 0px;
                    right: -100%;
                    transition: right 0.3s ease;

                    &.open {
                        right: 0;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        background-color: #CBBEB1;
                        border: 2px solid black;
                        border-radius: 10px;
                        li {
                            padding-left: 30px;
                            padding-bottom: 100px;

                            &:first-child {
                                padding-top: 100px;
                            }
                            &:last-child {
                                padding-right: 20px;
                            }
                            .padding {
                                padding-right: 10px;
                            }

                            a {
                                font-size: 22px;
                            }
                        }
                    }
                }
                .burger_menu {
                    z-index: 10;
                    display: flex;


                    &.open {
                        .first_line  {
                            transform: rotate(45deg);
                            top: 23px;
                        }
                        .second_line  {
                            display: none;
                        }
                        .third_line  {
                            transform: rotate(-45deg);
                            bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    //Exclusive furniture
    .exclusive_furniture {
        .container {
            .header_section_main {
                h2 {
                    font-size: 40px;
                }
            }
            .header_section_flex {
                .header_section_left {
                    p {
                        font-size: 18px;
                    }
                }
                .header_section_right {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    //Info
    .info {
        .container {
            .info_first_block {
                display: block;
                .info_right_block {
                    .info_right {
                        p {
                            text-align: center;
                        }
                        .description {
                            .descrpn_first {
                                span {
                                    display: block;
                                    text-align: center;
                                }
                                p {
                                    padding-top: 20px;
                                }
                            }
                            .descrpn_second {
                                span {
                                    display: block;
                                    text-align: center;
                                }
                                p {
                                    padding-top: 20px;
                                }
                            }
                            .descrpn_third {
                                span {
                                    display: block;
                                    text-align: center;
                                }
                                p {
                                    padding-top: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .info_second_block {
                .info_second_right {
                    width: 100%;

                }
            }
        }
    }

    //Reviews
    .reviews {
        .container {
            .flex_container {
                .card {
                    width: 80%;
                }
            }
        }
    }

    //Footer
    .footer {
        .container {
            .footer_flex {
                .footer_flex_left {
                    display: none;
                }
                .footer_flex_block {

                    .footer_flex_right {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
}