
@media (max-width: 1120px) {

    //Header
    .header {
        .container {
            .flex_container {
                .nav_header {
                    ul {
                        li {
                            transform: none;
                            transition: none;
                            &:hover {
                                transform: none;
                                transition: none;
                            }
                            a {
                                transition: none;
                                opacity: 1;
                                &:hover {
                                    transition: none;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Exclusive furniture
    .exclusive_furniture {
        .container {
            width: 100%;
            .header_section_main {
                h2 {
                    font-size: 50px;
                }
                .order_project {
                    transform: none;
                    transition: none;
                    &:hover {
                        opacity: 1;
                        transition: none;
                        transform: none;
                    }
                }
            }
            .header_section_flex  {
                display: block;
                .header_section_left {
                    display: block;
                    p {
                        padding-bottom: 40px;
                    }
                    img {
                        display: none;
                        transform: none;
                        transition: none;
                        &:hover {
                            pointer-events: none;
                            transform: none;
                            transition: none;
                        }
                    }
                }
                .header_section_right {
                    img {
                        display: block;
                        margin: 0 auto;
                        transform: none;
                        transition: none;
                        &:hover {
                            pointer-events: none;
                            transform: none;
                            transition: none;
                        }
                    }
                }
            }
        }
    }

    //Info
    .info{
        .container {
            .info_first_block {
                justify-content: space-between;
                .info_left {
                    flex-basis: 40%;
                    h2 {
                        font-size: 30px;
                    }
                }
                .info_right_block {
                    flex-basis: 50%;
                    display: flex;
                    justify-content: right;
                    .info_right {
                        flex-basis: 100%;
                    }
                }
            }
            .info_second_block {
                .info_second_left {
                    width: 35%;
                    h2 {
                        font-size: 30px;
                    }
                }
                .info_second_right {
                    width: 65%;
                    .services {
                        .services_left {
                            h4 {
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

    //Projects
    .projects {
        .container {
            h2 {
                font-size: 30px;
            }
            .first_line_images {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 30px;
                .image {
                    transform: none;
                    transition: none;
                        &:hover {
                            pointer-events: none;
                            transform: none;
                            transition: none;
                        }
                        &:nth-child(3) {
                           display: block;
                           margin: 0 auto;
                           margin-top: 30px;
                        }
                }
            }
            .seconds_line_images {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 30px;
                .image {
                    transform: none;
                    transition: none;
                        &:hover {
                            pointer-events: none;
                            transform: none;
                            transition: none;
                        }
                        &:nth-child(3) {
                           display: block;
                           margin: 0 auto;
                           margin-top: 30px;
                        }
                }
            }
        }
    }

    //Reviews
    .reviews  {
        .container {
            h2 {
                font-size: 30px;
            }
            .flex_container  {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                .card {
                    flex-basis: 445px;

                    &:nth-child(3) {
                        display: block;
                        margin: 0 auto;
                        margin-top: 40px;
                    }
                }
            }
        }
    }

    //Footer
    .footer {
        padding-bottom: 50px;
        .container {
            .footer_flex {
                display: block;
                .footer_flex_left {
                    img {
                        display: none;
                    }
                }
                .footer_flex_block {
                    display: flex;
                    justify-content: center;
                    .footer_flex_right {
                        flex-basis: 50%;
                        margin-left: 0;
                        h2 {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}